@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* styles/globals.css */
.nav-dropdown .nav-link {
  padding-right: 2rem; /* Ajusta el padding según sea necesario */
}

.nav-dropdown .dropdown-toggle::after {
  display: none !important; /* Oculta la flecha del dropdown */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
